.cards{
    height: 600px;
    padding: 5px;
    margin-top: 50px;
}
.cards:hover .img{
transform: scale(1);
filter: brightness(1);
}

.img{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: fill;
    transform: scale(0.99);
    filter: brightness(.7);
}
.address{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards:hover .CardTitle{
    color: red;
}